@keyframes toWhite {
  0% {background: #000;opacity:0%}
  50%{background: #000;opacity:50%}
  100% {background: #fff;opacity: 100%}
}

@keyframes toBlack {
  0% {background: #000;}
  100% {background: #fff;}
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border:transparent;
  border-right:#111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
  border:1px solid #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
}

body{
	position:relative;
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	color:#222;
	animation: toWhite 3s ease-in forwards;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
}

.scroll{
	overflow-y: scroll;
}

.dark{
	background: #111;
	animation: none;
	color:#fff;
}

.dark a{
	color:#fff;
	font-weight: bolder;
}

a{
	color:#111;
	text-decoration:none;
}



logo{
	position:absolute;
	display:block;
	top:0vh;
	left:6vw;
	z-index:1000;
}

logo img{
	width:21vh;
	filter: invert(0);
}

front{
	position:fixed;
	display:block;
	top:0px;
	left:0px;
	bottom:0px;
	background: #111;
	width:6vh;
	border:none;
	color:white;
	z-index:1000;
}

front a{
}

front a span{
	position: relative;
	display:block;
	left:2vh;
	color:#fff;
	height:3vh;
	width: 3vh;
	transform:rotate(-90deg);
	font-family: Roboto;
	font-size:1.33vh;
	font-weight: bold;
	letter-spacing: 0.333vw;
	text-align: center;
}

#inicio{
	position: absolute;
	display: flex;
	top:22.5vh;
}

#obras{
	position: absolute;
	display: flex;
	top:35vh;
}

#artistas{
	position: absolute;
	display: flex;
	top:52.5vh;
}

#nosotros{
	position: absolute;
	display: flex;
	top:70vh;
}

#contacto{
	position: absolute;	
	display: flex;
	top:87.5vh;
}

mouth{
	position:absolute;
	display:block;
	top:50vh;
	left:50vw;
	text-align: center;
}

mouth img{
	position: absolute;
	display: none;
	width: auto;
	height: 50vh;
	opacity: 1;
	text-align: center;
	z-index:1000;
    transform: translate(-50%, -50%);
}

slide a{
	font-size:1.75vh;
}

mouth h1{
	position: relative;
	display: block;
	top:25vh;
	padding: 20px;
	vertical-align: middle;
	text-align: center;
	border:1px solid #000;
	border-radius: 100vh;
	width:10vh;
	height:10vh;
	margin: 10vh;
	font-size: 10vh;
	line-height: 10vh;
}

mouth h1:hover{
	background: #000;
	color:#fff;
}



@media only screen and (max-width: 1025px) {

	logo{
		position:absolute;
		display:block;
		top:-5vh;
		left:6vw;
		z-index:1000;
	}

	logo img{
		width:21vh;
		filter: invert(0);
	}

	mouth{
		position:absolute;
		display:block;
		top:50vh;
		left:50vw;
		text-align: center;
	}

	mouth img{
		position: absolute;
		display: none;
		width: auto;
		height: auto;
		width: 70vw;
		opacity: 1;
		text-align: center;
		z-index:1000;
	    transform: translate(-46%, -50%);
	}

}


