/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border:transparent;
  border-right:#fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border:1px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}


logo img{
	width:21vh;
	filter: invert(1);
}
