@keyframes toWhite {
  0% {background: #000;}
  99% {backgroound:#000;}
  100% {background: #fff;}
}

@keyframes toBlack {
  0% {background: #fff;}
  100% {background: #000;}
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border:1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body{
	position:relative;
	padding:0px;
	margin:0px;
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	animation: toWhite 3s ease-in forwards;
}

a{
	color:#000;
	text-decoration:none;
}



logo{
	position:absolute;
	display:block;
	top:-3%;
	left:3%;
	z-index:1000;
}

logo img{
	width:9vw;
}

front{
	position:relative;
	display:block;
	top:0px;
	left:0px;
	bottom:0px;
	background: #000;
	height:100%;
	min-width:3%;
	max-width:3%;
	padding-top:6.6%;
	border:none;
	color:white;
	vertical-align: middle;
	z-index:100;
}

front span{
	position: relative;
	display:block;
	transform:rotate(-90deg);
	padding:12vh 0vh;
	font-size:0.75vw;
	font-weight: bold;
	letter-spacing: 0.75vw;
}

face{
	position:absolute;
	display:block;
	top:0px;
	left:27vh;
	height:210vh;
	width:700vw;
	z-index:50;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin:top left;
	overflow-y:scroll;
	overflow-x:hidden;
}

mouth{
	position:relative;
	left:0px;
	display:flex;
	flex-direction:row;
	height:100vh;
	width:500vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin:top left;
	z-index:10;
}

.slide{
	height:100vh;
	width:100vw;
}

.slide img{
	width: auto;
	height:70vh;
	padding:15vh 0vh 3vh;
}

.slide a{
	font-size:1.75vh;
}