@keyframes toWhite {
  0% {background: #000;}
  100% {background: #fff;}
}

@keyframes toBlack {
  0% {background: #fff;}
  100% {background: #000;}
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border:1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body{
	background:#fff;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	color:#000;
	animation: toWhite 3s ease-in forwards;
}

front{
	position:absolute;
	background:white;
	height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
	z-index:100;
}

fisura{
	position:absolute;
	display:block;
	top:0px;
	right:0px;
	color:#000;
	font-size:36px;
	text-align:right;
}

mouth{
	position:absolute;
	width:50%;
	font-size:18px;
}
