@keyframes toWhite {
  0% {background: #000;opacity:0%}
  50%{background: #000;opacity:50%}
  100% {background: transparent;opacity: 100%}
}

@keyframes toBlack {
  0% {background: #fff;}
  100% {background: #111;}
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border:transparent;
  border-right:#111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
  border:1px solid #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

body{
	position:relative;
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	animation: toWhite 3s ease-in forwards;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
}

.scroll{
	overflow-y: scroll;
}

.dark{
	background: #111;
	animation: none;
	color:#fff;
}

.dark a{
	color:#fff;
	font-weight: bolder;
}

a{
	color:#111;
	text-decoration:none;
}



logo{
	position:absolute;
	display:block;
	top:0vh;
	left:6vw;
	z-index:1000;
}

logo img{
	width:21vh;
	filter: invert(0);
}

front{
	position:fixed;
	display:block;
	top:0px;
	left:0px;
	bottom:0px;
	background: #111;
	width:6vh;
	border:none;
	color:white;
	z-index:10000;
}

front a{
}

front a span{
	position: relative;
	display:block;
	left:2vh;
	color:#fff;
	height:3vh;
	width: 3vh;
	transform:rotate(-90deg);
	font-family: Roboto;
	font-size:1.33vh;
	font-weight: bold;
	letter-spacing: 0.333vw;
	text-align: center;
}

#inicio{
	position: absolute;
	display: flex;
	top:22.5vh;
}

#obras{
	position: absolute;
	display: flex;
	top:35vh;
}

#artistas{
	position: absolute;
	display: flex;
	top:52.5vh;
}

#nosotros{
	position: absolute;
	display: flex;
	top:70vh;
}

#contacto{
	position: absolute;	
	display: flex;
	top:87.5vh;
}

mouth{
	position:absolute;
	display:block;
	top:50vh;
	left:50vw;
	text-align: center;
}

mouth img{
	position: absolute;
	display: none;
	width: auto;
	height: 50vh;
	opacity: 1;
	text-align: center;
	z-index:1000;
    transform: translate(-50%, -50%);
}

slide a{
	font-size:1.75vh;
}

mouth h1{
	position: relative;
	display: block;
	top:25vh;
	padding: 20px;
	vertical-align: middle;
	text-align: center;
	border:1px solid #000;
	border-radius: 100vh;
	width:10vh;
	height:10vh;
	margin: 10vh;
	font-size: 10vh;
	line-height: 10vh;
}

mouth h1:hover{
	background: #000;
	color:#fff;
}

boxes{
	position: relative;
	display: block;
	padding: 25vh 0vh 0vh;
	text-align: center;
}

square{
	position:relative;
	display: inline-block;
	top:0vh;
	width: 30vh;
	margin-bottom: 2vh;
	font-size: 2vh;
	overflow: hidden;
	text-align: center;
}

square img{
	position: relative;
	display: block;
	width:30vh;
	margin:1.5vh 1.5vh 0.5vh;
	text-align: center;
	overflow: hidden;
}

square a span{
	text-align: center;
}

bio{
	position: absolute;
	display:block;
	top:20vh;
	left:50vw;
	bottom:20vh;
    transform: translate(-50%, 0%);
	width: 30vw;
	padding:5vh 20vh;
	line-height: 3.3vh;
	font-size: 1.75vh;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: justify;
	text-justify: auto;
	user-select:text;
	-webkit-scrollbar-thumb {
  		background: #fff;
  		border:1px solid #fff;
	}
}

bio img{
	position: relative;
	display: block;
	width:100%;
	min-width: 330px;
	max-width: 500px;
	height:auto;
}

bio a span h2{
	text-decoration: underline;
}

contacto{
	position: absolute;
	display: none;
	opacity: 0;
	right:0px;
	bottom:10vh;
	font-size: 1.75vh;
	top:50vh;
	text-align: right;
	padding: 10vh;
	color:white;
	user-select:text;
	z-index: 1000;
}

art{
	position: absolute;
	display:block;
	top:20vh;
	left:50vw;
	bottom:20vh;
	width: 30vw;
	transform: translate(-25vw,0vw);
	padding: 0vh 20vh;
	line-height: 3.3vh;
	font-size: 1.75vh;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: justify;
	text-justify: auto;
}

art img{
	width:45vh;
}


state{
	position: relative;
	display:block;
}

obra{
	position:relative;
	bottom:0px;
}

grid{
	position: absolute;
	display: block;
	top:50vh;
	left:36vw;
}

box{
	position: absolute;
	display: none;
	transform: translate(0%,-55%);
	font-size: 1.5vh;
}

box item img{
	max-width: 60vw;
	max-height: 87.5vh;
}

arrow{
	position: fixed;
	display: block;
	top:47.5vh;
	right:0.5vw;
}

arrow img{
	display: none;
	height: 5vh;
	background: #fff;
	opacity: 0.75;
	cursor: pointer;
}

arrow img:hover{
	opacity: 1;
}

file{
	position: fixed;
	display: block;
	bottom: 0vh;
	left:36vw;
	right:0vw;
	line-height: 2vh;
	text-align: left;
	font-size: 1.8vh;
	z-index: 1000;
	padding: 3vh;
}

file a{
	text-decoration: underline;
	font-weight: bolder;
}

box item a{
	text-decoration: underline;
}

list{
	position: absolute;
	display: block;
	top:0px;
	bottom:0px;
	margin: 0vh;
	padding: 15vh 0vw 0vh;
	z-index:100;
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	text-align: right;
}

list span{
	position: relative;
	display: block;
	margin:5vh 21vw;
	font-size: 1.8vh;
	text-transform: uppercase;
}



@media only screen and (max-width: 640px) {
  art{
		position: absolute;
		display:block;
		top:20vh;
		left:50vw;
		bottom:20vh;
		width: 75vw;
		padding: 0vh 0vw;
		line-height: 3.3vh;
		font-size: 1.75vh;
		transform: translate(-35vw,0vw);
		overflow-x:hidden;
		overflow-y:scroll;
		text-align: justify;
		text-justify: auto;
	}

	bio{
		position: absolute;
		display:block;
		top:20vh;
		left:52.5vw;
		bottom:20vh;
	    transform: translate(-50%, 0%);
		width: 75vw;
		padding:5vh 7vw;
		line-height: 3.3vh;
		font-size: 1.75vh;
		overflow-x:hidden;
		overflow-y:scroll;
		text-align: justify;
		text-justify: auto;
		user-select:text;
		-webkit-scrollbar-thumb {
	  		background: #fff;
	  		border:1px solid #fff;
	}

	bio img{
		position: relative;
		display: block;
		width:200px;
		height: auto;
	}
}



@media only screen and (max-width: 800px) {

	mouth{
		position:relative;
		display:block;
		top:50vh;
		left:0vw;
		text-align: center;
	}

	mouth img{
		position: absolute;
		display: none;
		width: auto;
		height: auto;
		max-width: 70vw;
		opacity: 1;
		text-align: center;
		z-index:1000;
	    transform: translate(-42.5%, -50%);
	}

}