
logo{
	position:fixed;
	display:block;
	top:0vh;
	left:6vw;
	z-index:1000;
}

logo img{
	width:21vh;
	filter: invert(0);
}

front{
	position:fixed;
	display:block;
	top:0px;
	left:0px;
	bottom:0px;
	background: #111;
	width:6vh;
	border:none;
	color:white;
	z-index:1000;
}

front a{
}

front a span{
	position: fixed;
	display:block;
	left:2vh;
	color:#fff;
	height:3vh;
	width: 3vh;
	transform:rotate(-90deg);
	font-family: Roboto;
	font-size:1.33vh;
	font-weight: bold;
	letter-spacing: 0.333vw;
	text-align: center;
}

#inicio{
	position: absolute;
	display: flex;
	top:22.5vh;
}

#obras{
	position: absolute;
	display: flex;
	top:35vh;
}

#artistas{
	position: absolute;
	display: flex;
	top:52.5vh;
}

#nosotros{
	position: absolute;
	display: flex;
	top:70vh;
}

#contacto{
	position: absolute;	
	display: flex;
	top:87.5vh;
}
